.faq-content{
  gap: 2rem;
  align-items: start;
  & :is(.faq-left, .faq-right){
    border-radius: 1.5rem;
    min-height: 40rem;
  }
  .faq-left{
    width: 45rem;
    .faq-subtitle{
      font-weight: 400;
    }
    .faq-title{

    }

    .send-mail-form {
      margin: 4rem 0 0 auto;
      display: flex;
      gap: 2rem;
      align-items: center;
      justify-content: center;
      width: 100%;
      max-width: 45rem;
      & :is(.mail, .btn-send){

        border-radius: 2rem;
      }

      .mail {
        width: 25rem;
        padding: 10px 15px;
        border: 1px solid #ccc;
        font-size: 16px;
        transition: border-color 0.3s ease;

        &:focus {
          border-color: $primary-blue;
          outline: none;
        }
      }

      button {
        width: 10rem;
        padding: 10px 15px;
        background-color: $primary-blue;
        color: white;
        border: none;
        border-radius: 4px;
        font-size: 16px;
        cursor: pointer;
        transition: background-color 0.3s ease;

        &:hover {
          background-color: #0056b3;
        }
      }
    }
  }
  .faq-right{
    width: calc(100% - 40rem);
    &.dropdown-questions{
      padding: 2rem;
      .dropdown-question{
        .question-content{
          cursor: pointer;
          height: 7rem;
          display: flex;
          justify-content: space-between;
          align-items: center;
          transition: background-color .2s ease;
          border-radius: .5rem;
          .question{

          }
          .icon{
            width: 20px;
          }
          &:hover{
            background-color: rgba(0, 0, 0 , .2);
            transition: background-color .2s ease;
          }
        }
        .question-hr{
          width: 100%;
          margin: 0 auto;
          background-color: rgba(0, 0, 0 , .2);
          height: .02rem;
        }
        .answer {
          max-height: 0;
          overflow: hidden;
          opacity: 0;
          padding: 0;
          transition: max-height 0.3s ease, opacity 0.3s ease, padding 0.3s ease;
        }

        &.open .answer {
          max-height: 20rem; // Set a value that is sufficient to fit the content
          opacity: 1;
          padding: 1rem 0.5rem;
        }
      }
    }
  }
}