// src/ui/admin/features/event/screens/events/events.style.scss

.admin-hotels-page {
  padding: 20px;
  background-color: #f9f9f9;
  .title-wrapper{
    display: flex;
    justify-content: space-between;
    right: 5rem;
    .buttons-wrapper{
      display: flex;
      gap: 1rem;
      .button-icon{
        display: flex;
        align-items: center;
        fill: $white;
        background-color: $darkGrayBlue;
        &:hover{
          background-color: $veryDarkGrayBlue;
        }
      }
    }
  }
}
