
.big-event{
  background-image: url("../../../../assets/images/home/big-event/Section-2.jpg");
  height: 60rem;
  margin: 3rem 0;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  //width: calc(100% - 3rem * 2);
}