@mixin btn-animation($borderRadius: 4rem, $color: $primary-blue) {
  &::before {
    content: "";
    position: absolute;
    width: 0;
    height: 100%;
    background-color: $primary-blue;
    left: 0;
    top: 0;
    transition: width 0.3s ease-in;
    border-radius: $borderRadius;
  }

  &:hover {
    &::before {
      width: 100%;
    }
  }
}

@keyframes hide {
  0% {
    overflow: visible;
    opacity: 1;
  }
  100% {
    transform: translateY(70%);
    opacity: 0;
    font-size: 2px;
    width: calc(200px / 4);
    height: calc(300px / 4);
    overflow: hidden;
  }
}
