$custom-size: 10px;
$navHeight: 6rem;
$navLinkWidth: 60rem;
$custom-size: 10px;
$menu-items: 4;
$nav-item-width: 15rem;

//home

$section_spacing: 2rem;
$border-radius: 1.2rem;

//home header slider
$start_index: 3;
$item_count: 4;
$gap: 22rem;

//home testimonial slider
$start_testimonial_index: 3;
$testimonial_count: 4;
$testimonial_gap: 32rem;
$testimonial_section_height: 45rem;
$custom-size: 10px;

$navLinkWidth: 60rem;

$admin-menu-items: 7;

$admin-before-width:3rem;

$nav-item-width: 15rem;

$chatbot-btn-bottom:3rem;

$chatbot-btn-right:5rem
