.sign-up{
  margin-bottom: 7rem;
  & .sign-up-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 5rem;
  }
  & .faq-container{
    text-align: right;
    color: #777777;
    display: flex;
    align-items: center;
    justify-content: right;
    gap: 1rem;
    cursor: pointer;
    margin-top: -8rem;
    & .icon{
      width: 2.5rem;
      fill: #777;
    }
    & .faq{

    }

  }
}