@import "leaflet/dist/leaflet.css";

.maps-section {
  margin-bottom: 5rem;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 2rem;
  .controls {
    display: flex;
    justify-content: space-between;
    margin-bottom: 1rem;
    width: 100%;
    .filter-buttons {
      display: flex;
      .filter-button {
        background-color: #f0f0f0;
        border: 1px solid #ccc;
        padding: 0.5rem 1rem;
        margin: 0 0.5rem;
        font-size: 1.8rem;
        border-radius: 4px;
        cursor: pointer;
        transition: all 0.3s ease;
        &.active {
          background-color: $darkGrayBlue;
          border-color: $darkGrayBlue;
          color: $white;
          &:hover {

            background-color: $white;
            border-color: $darkGrayBlue;
            color: $darkGrayBlue;
          }
        }
        &:hover {
          background-color: $darkGrayBlue;
          color: $white;
        }
      }
    }
    .dropdown-container {
      position: relative;
      .dropdown-button {
        display: flex;
        align-items: center;
        padding: 1rem 1.5rem;
        border: 1px solid $white;
        border-radius: 4px;
        cursor: pointer;
        transition: all 0.3s ease;
        &.active{
          background-color: $darkGrayBlue;
          .dropdown-icon{
            fill: $white;
          }
          &:hover {
            border-color: $darkGrayBlue;
            background-color: $white;
            .dropdown-icon{
              fill: $darkGrayBlue;
            }
          }
        }
        &:hover {
          background-color: $darkGrayBlue;
          .dropdown-icon{
            fill: $white;
          }
        }

        .dropdown-icon{
          transform: translateY(2px);
          transition: fill 0.3s ease;
          height: 2.5rem;
          fill: $darkGrayBlue;
        }
      }
      .dropdown-content {
        z-index: 2000;
        min-width: 10rem;
        display: flex;
        flex-direction: column;
        position: absolute;
        top: 100%;
        right: 0;
        background-color: white;
        border: 1px solid #ccc;
        border-radius: 4px;
        overflow: hidden;
        animation: dropdown-animation 0.3s ease-out;
        .dropdown-btn {
          padding: 1rem 1.5rem;
          //border: none;
          background-color: $white;
          cursor: pointer;
          transition: all 0.3s ease;
          border: 1px solid $white;
          font-size: 1.8rem;
          font-weight: 700;
          &.active {
            border-color: $darkGrayBlue;
            background-color: $darkGrayBlue;
            color: $white;
            &:hover{
              border-color: $darkGrayBlue;
              background-color: $white;
              color: $darkGrayBlue;
            }
          }
          &:hover {
            border-color: $darkGrayBlue;
            background-color: $darkGrayBlue;
            color: $white;
          }
        }
      }
    }
  }
  .map-container {
    height: 50rem;
    width: 50rem;
    .leaflet-container {
      height: 50rem;
    }
    //.monument-card {
    //  position: absolute;
    //  top: 10%;
    //  left: 10%;
    //  background: white;
    //  padding: 1rem;
    //  border: 1px solid #ddd;
    //  border-radius: 8px;
    //  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    //  z-index: 1000;
    //  h3 {
    //    margin: 0 0 0.5rem 0;
    //    font-size: 1.2rem;
    //    font-weight: bold;
    //  }
    //  p {
    //    margin: 0.5rem 0;
    //    font-size: 1rem;
    //  }
    //  .close-button {
    //    background: none;
    //    border: none;
    //    font-size: 1.2rem;
    //    position: absolute;
    //    top: 0.5rem;
    //    right: 0.5rem;
    //    cursor: pointer;
    //  }
    //}
  }
  .modal-overlay{
    z-index: 5000;
  }
  .modal-body {
    .place-modal-image{
      width: 100%;
      height: 20rem;
      object-fit: cover;
    }
    .modal-type {
      margin-top: -7rem;
      padding: 0 5rem;
      font-size: 2rem;
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin-bottom: 2rem;
      .modal-type-content, .modal-city{
        padding: 1rem;
        border-radius: 2rem;
      }
      .modal-type-content{
        color: $white;
        display: flex;
        align-items: center;
        .modal-place-icon {
          fill: $white;
          width: 2.3rem;
          margin-right: .5rem;
        }
      }
      .modal-city{
        background-color: $white;
      }
    }
    .modal-title,
    .modal-description {
      margin-bottom: 1rem;
    }
  }
}

@keyframes dropdown-animation {
  from {
    opacity: 0;
    transform: translateY(-10%);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}