.left-part-section{
  width: 55rem;
  .slogan{
    font-size: 4rem;
    margin-bottom: 2rem;
    .sign-up-logo-img{
      width: 19rem;
      transform: translate(0rem, .25rem);
    }
  }
  .left-part-img{
    border-radius: 2rem;
    width: 50rem;
  }
}